.button {
    -fx-border-color: #ffffff;
    -fx-font-size: 22px;
    cursor: pointer;
    -fx-border-width: 2px;
     -fx-text-fill: #ffffff;

}

.button:hover {

    -fx-border-color: #257cff;

}

.combo-box-style .list-cell {
    -fx-font-size: 18px;
}

.text-field {
    -fx-font-size: 16px;
    -fx-pref-width: 500px;
    -fx-pref-height: 40px;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    }
}

.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-background-insets: 0;
    -fx-padding: 10;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.menu-label {
    -fx-font-size: 24px;
    -fx-text-fill: #30ff79;
    -fx-padding: 10;
    -fx-alignment: center;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.tooltip-font-size {
    -fx-font-size: 16px;
}